In [36]:
sentOne = "This is not a test."
counterOne=0
while(counterOne < 4):
    
    print(sentOne[counterOne],end = '')
    counterOne=counterOne+1
    
    if(counterOne==4):
        
        print(sentOne[4:7:1],sentOne[12:])

This is a test.

In [37]:
print(sentOne[::2])

Ti sntats.

In [39]:
# Easy Reverse
print(sentOne[::-1])

.tset a ton si sihT

In [41]:

len(sentOne)

19

In [12]:
# Hard reverse 
counterTwo = -1
while(counterTwo>-20):
    print(sentOne[counterTwo],end='')
    counterTwo=counterTwo-1

.tset a ton si sihT

In [14]:
# Immutable Strings
name="Sam"
endString=name[1:]
"P"+ endString

'Pam'

In [15]:
newName = "P" + name[1:]
print(newName)

Pam

In [17]:
letter="z"
letter * 10

'zzzzzzzzzz'

In [18]:
x = "Hello World"
x.upper()

'HELLO WORLD'

In [21]:
x.split()

['Hello', 'World']

In [22]:
x="Hi this is a string"
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [23]:
print("This is a string {}".format("INSERT"))

This is a string INSERT

In [24]:
word = "new"
print("This is a {} string {}".format(word,"INSERT"))

This is a new string INSERT

In [26]:
print("The {} {} {}".format("fox","brown","quick"))

The fox brown quick

In [27]:
print("The {2} {1} {0}".format("fox","brown","quick"))

The quick brown fox

In [28]:
print("The {q} {b} {f}".format(f="fox",b="brown",q="quick"))

The quick brown fox

In [30]:
result=100/777
result

0.1287001287001287

In [31]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [32]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [33]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [41]:
name = "Andrew"
age = 29
activity = "hike"

In [43]:
print(f"Hello, my name is {name}, I am {age} years old, and I like to {activity}.")

Hello, my name is Andrew, I am 29 years old, and I like to hike.